

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --bg-clr: linear-gr
}

body{
    background-image: linear-gradient(90deg, #bdc3c7, #2c3e50);
   
    
}
.player{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: center;
}

.wow{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 2%;
    border-radius: 15px;

}

.wow:hover{
    cursor: pointer;
    color: white;
    background-image: linear-gradient(90deg, #093145,  #0d3d56);
}

img{
   width: 100%;
   height: 80%;
   border-radius: 10px;
}